<div class="modal-content responsive">
    <div class="modal-header ">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close sn-link-close"></em>
        </button>
        <h4 class="modal-title">Visiting Details For-<span ng-bind=myData.Name></span></h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <h6><b>Customer Id</b></h6>
                            <h3>{{visitInfo.CustomerId}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <h6><b>Visit Id</b></h6>
                            <h3>{{visitInfo.VisitId}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <h6><b>OutLet Id</b></h6>
                            <h3>{{visitInfo.OutletId}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <uib-tabset active="activeTab">
                <uib-tab index="0" heading="Reservation">
                    <div class="panel profile-panel">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="active"><b>Reservation Date</b></td>
                                    <td><b>{{visitInfo.ReservationDate |dateFilter}}</b></td>
                                    <td class="active"><b>Reservation Time</b></td>
                                    <td><b>{{visitInfo.ReservationTime| timeFilter}}</b></td>
                                </tr>
                                <tr>
                                    <td class="active"><b>Adult</b></td>
                                    <td><b>{{visitInfo.Adult}}</b></td>
                                    <td class="active"><b>Child</b></td>
                                    <td><b>{{visitInfo.Child}}</b></td>
                                </tr>
                                <tr>
                                    <td class="active"><b>Reservation Type</b></td>
                                    <td><b>{{visitInfo.ReservationType}}</b></td>
                                    <td class="active"><b>-</b></td>
                                    <td><b>-</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Session">
                    <div class="panel profile-panel">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="active"><b>Confirm Time</b></td>
                                    <td><b>{{visitInfo.ConfirmTime| timeFilter}}</b></td>
                                    <td class="active"><b>Seated Time</b></td>
                                    <td><b>{{visitInfo.SeatedTime| timeFilter}}</b></td>
                                </tr>
                                <tr>
                                    <td class="active"><b>Settlement Time</b></td>
                                    <td><b>{{visitInfo.SettlementTime| timeFilter}}</b></td>
                                    <td class="active"><b>Total Amount</b></td>
                                    <td><b>{{visitInfo.Amount}}</b></td>

                                </tr>
                                <tr>
                                    <td class="active"><b>Table No</b></td>
                                    <td><b>{{visitInfo.TableNo}}</b></td>
                                    <td class="active"><b>Bill No</b></td>
                                    <td><b>{{visitInfo.BillNo}}</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Others">
                    <div class="panel profile-panel">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="active"><b>BBQ Festival</b></td>
                                    <td><b>{{visitInfo.BBQFestival|emptyInputFilter}}</b></td>
                                    <td class="active"><b>Calendar Festival</b></td>
                                    <td><b>{{visitInfo.CalendarFestival|emptyInputFilter}}</b></td>
                                </tr>
                                <tr>
                                    <td class="active"><b>Calendar Festival</b></td>
                                    <td><b>{{visitInfo.CalendarFestival|emptyInputFilter}}</b></td>
                                    <td class="active"><b>Visit Remark</b></td>
                                    <td><b>{{visitInfo.VisitRemark|emptyInputFilter}}</b></td>
                                </tr>
                                <tr>
                                    <td class="active"><b>Car No</b></td>
                                    <td><b>{{visitInfo.CarNo|emptyInputFilter}}</b></td>
                                    <td class="active"><b></b></td>
                                    <td><b></b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>


