<!--<div class="col-md-12" ng-hide="true">&lt;!&ndash;//use ng-hide="isParamNumber" to show it on condition&ndash;&gt;
    <div class="col-md-5">
        <span class="lead pull-right">Search Customer</span>
    </div>
    <div class="col-md-7">
        <div class="form-group ">
            <form name="newMobileNumber.form" class="form-inline"
                  ng-submit="searchCustomer(newMobileNumber.form.$valid)"
                  novalidate>
                <div class="form-group"
                     ng-class="{'has-error': newMobileNumber.mobile.$invalid && (newMobileNumber.mobile.$dirty || newMobileNumber.$submitted)}">
                    <input class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile Number"
                           ng-model="newMobileNumber.info.mobile" required>
                    <span class="help-block error-block basic-block">Required</span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="newMobileNumber.form.$invalid">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    &lt;!&ndash; <span class="glyphicon glyphicon-search"></span>&ndash;&gt;
                </button>
            </form>
        </div>
        &lt;!&ndash;   <div class="input-group">
               <ui-select theme="bootstrap" required="true" data-live-search="true" title="Select With Search" selectpicker
                          ng-mobile="selected.customer"
                          class=" selectpicker with-search"
                          title="Select Mobile Number"
                          ng-change="checkCustomerData()">
                   <ui-select-match placeholder="Select Mobile Number">
                       <span ng-bind="$select.selected.Name + ' - ' + $select.selected.PhoneNo"></span>
                   </ui-select-match>
                   <ui-select-choices
                           repeat="item in (customersData | filter: $select.search) track by item.PhoneNo">
                       <span ng-bind="item.PhoneNo"></span>
                   </ui-select-choices>
               </ui-select>

               <span class="input-group-btn">
                                       <button class="btn btn-danger " type="button">
                                           <span class=" glyphicon glyphicon-search"></span>
                                       </button>
                </span>
           </div>&ndash;&gt;
    </div>
</div>-->
<div class="row">

</div>
<div class="panel panel-default" ng-show="dataLoading">
    <div class="panel-heading  ">
        <h3 class="panel-title ">Customer Information - <span ng-bind="customerData.PhoneNo"></span> <span ng-if="isHavingCar"class="has-car"><i class="fa fa-car" aria-hidden="true"></i></span></h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 controls">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-8 col-xs-8">
                    <h3 ng-hide="selected.customer.ID != 2168832 && selected.customer.ID != 2358241 && selected.customer.ID != 2286670 ">
                        <i class="fa fa-info-circle fa-lg " aria-hidden="true"></i>
                        <b class="text-shadow">Today is
                            <span ng-bind="myData.Name"></span>
                            <span ng-if="selected.customer.ID == 2168832  ||  selected.customer.ID == 2358241 ">Marriage Anniversary</span>
                            <span ng-hide="selected.customer.ID == 2168832 || selected.customer.ID == 2358241">Birthday</span>
                        </b></h3>
                    <h3>{{customerData.Name}}&nbsp;&nbsp;&nbsp;
                        <small><img class=" uploaded responsive" ng-if="customerData.AppUser" id="appUser"
                                    height="30px"
                                    ng-src="{{ 'appUser.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="(customerData.MealPreference|uppercase)!='VEG'"
                                 id="meatCust" height="30px"
                                 ng-src="{{ 'meat.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="customerData.AccompaniedKids"
                                 height="30px"
                                 ng-src="{{ 'family.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="!customerData.Alcohol" id="colddrink"
                                 height="30px"
                                 ng-src="{{ 'coldDrink2.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="customerData.Alcohol" id="alcoholCust"
                                 height="30px"
                                 ng-src="{{ 'alcohol.png' | appImage }}">
                            <img class=" uploaded responsive" ng-if="(customerData.MealPreference|uppercase)=='VEG'"
                                 height="30px"
                                 ng-src="{{ 'veg.png' | appImage }}"></small>
                    </h3>

                </div>
                <div class="col-lg-8 col-md-4 col-sm-4 col-xs-4">
                    <button class="btn btn-primary btn-sm  btn-raised pull-right"
                            ng-click="editCustomerInfo(studentInfo)">
                        <i class="fa fa-eye"></i> Personal Details
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row hidden-sm hidden-xs">
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Total Visits ({{customerData.NoofVisit}}) </h5>
                        <div class="visit-text"><b>Last Visited : {{LastVisitMonth}} Months ago</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Time Spent / Visit</h5>
                        <div class="dark-blue-text">
                            <h4><i class="fa fa-street-view" aria-hidden="true"></i>
                                {{customerData.AvgTimeSpendIntMins}} minutes</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Gap b/w Visit</h5>
                        <div class="dark-blue-text">
                            <h4><i class="fa fa-street-view" aria-hidden="true"></i>
                                {{customerData.AvgDurationDaysBetweenVisit}} days</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="red-panel panel-default text-center">
                    <div class="panel-body">
                        <h5> Urgent Feedback : {{countUrgentFeedBack}}</h5>
                        <div class="text-center">
                            <div class="gap ">
                                <span class="label label-success ">Resolved : {{countResolvedUrgentFeedBack}}</span>
                            </div>
                            <span class="label label-danger resolved-panel">Unresolved : {{countUrgentFeedBack-countResolvedUrgentFeedBack}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Total Visits ({{customerData.NoofVisit}}) </h5>
                        <div class="visit-text"><b>Last Visited : {{LastVisitMonth}} Months ago</b></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Time Spent / Visit</h5>
                        <div class="dark-blue-text">
                            <h4><i class="fa fa-street-view" aria-hidden="true"></i>
                                {{customerData.AvgTimeSpendIntMins}} minutes</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Gap b/w Visit</h5>
                        <div class="dark-blue-text">
                            <h4><i class="fa fa-street-view" aria-hidden="true"></i>
                                {{customerData.AvgDurationDaysBetweenVisit}} days</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="red-panel panel-default text-center">
                    <div class="panel-body">
                        <h5> Urgent Feedback : {{countUrgentFeedBack}}</h5>
                        <div class="text-center">
                            <div class="gap ">
                                <span class="label label-success ">Resolved : {{countResolvedUrgentFeedBack}}</span>
                            </div>
                            <span class="label label-danger resolved-panel">Unresolved : {{countUrgentFeedBack-countResolvedUrgentFeedBack}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-sm hidden-xs">
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Last GSI Percentage</h5>
                        <div class="dark-blue-text">
                            <h4>{{customerData.LastGSIPerc}} %</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Amount Spent / Visit</h5>
                        <div class="dark-blue-text">
                            <h4><i class="fa fa-inr" aria-hidden="true"></i> {{customerData.AvgBillAmount}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Last Visit Details</h5>
                        <div class="visit-text-2">
                            <div><b>Location-{{customerData.LastVisitedOutletName}}</b></div>
                            <div><b>Date-{{customerData.LastVisitedOn|dateFilter}}</b></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Number of PAX/Visit</h5>
                        <div class="dark-blue-text">
                            <h4>{{customerData.AvgPersonInVisit}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Last GSI Percentage</h5>
                        <div class="dark-blue-text">
                            <h4>{{customerData.LastGSIPerc}} %</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Amount Spent / Visit</h5>
                        <div class="dark-blue-text">
                            <h4><i class="fa fa-inr" aria-hidden="true"></i> {{customerData.AvgBillAmount}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row hidden-lg hidden-md">
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Last Visit Details</h5>
                        <div class="visit-text-2">
                            <div><b>Location-{{customerData.LastVisitedOutletName}}</b></div>
                            <div><b>Date-{{customerData.LastVisitedOn|dateFilter}}</b></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="blue-panel panel-default text-center">
                    <div class="panel-body">
                        <h5>Avg Number of PAX/Visit</h5>
                        <div class="dark-blue-text">
                            <h4>{{customerData.AvgPersonInVisit}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="text-center" include-with-scope="app/pages/customer/categoryWiseResponse.html"></div>
            <br>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <!--  <div class="col-sm-6">
                      <div class="blue-panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title">Overall Feedback Ratio</h3>
                          </div>
                          <div class="panel-body">
                              <canvas id="feedbackChart" class="chart chart-bar"
                                      chart-data="feedbackCountReportData" chart-colors="colors" chart-labels="ratings">
                              </canvas>
                          </div>
                      </div>
                  </div>
    -->
                <!-- <div class="col-sm-6">
                     <div class="blue-panel panel-default">
                         <div class="panel-heading">
                             <h3 class="panel-title">Category-wise Feedback Report</h3></div>
                         <div class="panel-body">
                             <canvas class="chart chart-bar"
                                     chart-data="categoryWiseFeedbackData" chart-colors="colors" chart-labels="category"
                                     chart-options="options">
                             </canvas>
                         </div>
                     </div>
                 </div>-->


                <div class="col-sm-6">
                    <div class="blue-panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">FEEDBACK REASONS/SUGGESTIONS</h3></div>
                        <div class="panel-body">
                            <div class="vertical-scroll">
                                <div class="col-sm-6" ng-repeat="item in customerData.FeedbackReason">
                                    <div class="reason-cat">
                                        <div class="reason-title">{{item.SubCategory }}
                                            <small ng-if="item.Rating!=''"
                                                   ng-bind-html="item.Rating | ratingFilter"></small>
                                        </div>
                                        <div class="sub">{{item.ReasonDesc}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="blue-panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">PREFERRED BEVERAGES</h3></div>
                        <div class="panel-body">
                            <div class="row vertical-scroll">
                                <div class="col-sm-6">
                                    <table class="table table-responsive " ng-if="customerData.Beverages.length!=0"
                                           st-table="customerData">
                                        <thead>
                                        <tr>
                                            <th class="active"><b>ALCOHLIC BEVERAGES</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="items in customerData.Beverages | filter:{Category:'ALCOHLIC BEVERAGES'}:true ">
                                            <td>{{items.ItemName }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-responsive " ng-if="customerData.Beverages.length!=0"
                                           st-table="customerData">
                                        <thead>
                                        <tr>
                                            <th class="active"><b>NON-ALCOHLIC BEVERAGES</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="items in customerData.Beverages | filter:nonAlcoholicFilter ">
                                            <td>{{items.ItemName }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class=" text-center" ng-if="customerData.Beverages.length==0">
                                    No Preference
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="dataLoading">
    <div class="panel-heading">
        <h3 class="panel-title">Visiting History</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped" st-table="visitsData" st-safe-src="visitMasterData">
            <thead>
            <tr class="sortable">
                <th st-sort="City" class="hidden-xs"><b>CITY</b></th>
                <th st-sort="OutletName"><b>OUTLET NAME</b></th>
                <th st-sort="ReservationDate"><b>RESERVATION DATE</b></th>
                <th class="hidden-md hidden-sm hidden-xs" st-sort="ReservationType"><b>RESERVATION TYPE</b></th>
                <th class="hidden-md hidden-sm hidden-xs"><b>STATUS</b></th>
                <th class="hidden-md hidden-sm hidden-xs" st-sort="Amount"><b>AMOUNT</b>( <i class="fa fa-inr "
                                                                                             aria-hidden="true"></i> )
                </th>
                <th><b>FEEDBACK</b></th>
                <th class="hidden-sm hidden-xs"><b>ACTION</b></th>
            </tr>
            <tr>
                <th class=" hidden-xs"></th>
                <th></th>
                <th><input st-search="ReservationDate" placeholder="Search Date"
                           class="input-sm form-control search-input"
                           type="search"/></th>
                <th class="hidden-md hidden-sm hidden-xs"><select st-search="ReservationType" st-input-event="change"
                                                                  st-delay="0" ng-mobile="dummy"
                                                                  class="input-sm form-control">
                    <option value="">
                        All
                    </option>
                    <option value="Walk-in">
                        Walk-in
                    </option>
                    <option value="Telephone">
                        Telephone
                    </option>
                    <option value="App">
                        App
                    </option>
                </select>
                </th>
                <th class="hidden-md hidden-sm hidden-xs"><select st-search="Status" st-input-event="change"
                                                                  st-delay="0" ng-mobile="dummy"
                                                                  class="input-sm form-control">
                    <option value="">
                        All
                    </option>
                    <option value="Dinner">
                        Dinner
                    </option>
                    <option value="Lunch">
                        Lunch
                    </option>
                </select>
                </th>
                <th class="hidden-md hidden-sm hidden-xs"></th>
                <th></th>
                <th class="hidden-sm hidden-xs"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in visitsData">
                <td class="hidden-xs">{{items.City}}</td>
                <td>{{items.OutletName}}</td>
                <td>{{items.ReservationDate | dateFilter}}
                    <i class="fa fa fa-exclamation-triangle fa-lg" data-toggle="modal" data-toggle="tooltip" title="Details about customer feedback"
                       style="color: #1674d8; vertical-align: middle; cursor: pointer"
                       ng-click="openViewRemark(items)" ng-if="items.VisitRemark!='' || items.CallReasonInfo!='' || items.Notes!='' ">
                    </i>
                </td>
                <td class="hidden-md hidden-sm hidden-xs">{{items.ReservationType}}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{items.Status}}</td>
                <td class="hidden-md hidden-sm hidden-xs">{{items.Amount}}</td>
                <td>
                    <button class="btn btn-primary btn-xs btn-raised hidden-md hidden-lg" data-toggle="modal"
                            ng-click="openOrderForm1(items)" data-toggle="tooltip" title="View Order Details"><i
                            class="fa fa-cutlery fa-lg"></i>
                    </button>
                    <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                            ng-click="openFeedbackWindow(items)" ng-show="items.Feedback"><i
                            class="fa fa-commenting-o fa-lg"></i>
                    </button>
                    <span class="hidden-xs" ng-hide="items.Feedback"> - </span>
                    <a class="fa fa-exclamation-circle fa-2x" ng-show="items.Feedback.UrgentFeed"
                       ng-click="openFeedStatusForm2()"
                       ng-class="(items.Feedback.UrgentFeedStatus | uppercase) !='CLOSE' ? 'red-icon-text' : 'green-icon-text' "
                       ng-click="openFeedStatusForm()" aria-hidden="true"></a>
                    <a class="fa fa-check-circle fa-2x green-icon-text"
                       ng-show="(items.Feedback.UrgentFeedStatus | uppercase) =='CLOSE'"
                       ng-click="openFeedStatusForm2()" aria-hidden="true"></a></b></span>
                </td>
                <td class="hidden-sm hidden-xs">
                    <!--<button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                            ng-click="openVisitDetailForm1(items)" data-toggle="tooltip"
                            title="View Visiting Details">
                        <i
                                class="fa fa-eye fa-lg"></i>
                    </button>-->
                    <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                            ng-click="openOrderForm1(items)" data-toggle="tooltip" title="View Order Details"><i
                            class="fa fa-cutlery fa-lg"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-center hidden-xs">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
                <td colspan="3" class="text-center hidden-lg hidden-md hidden-sm">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="panel panel-default" ng-if="ItHasActiveVouchers">
    <div class="panel-heading">
        <h3 class="panel-title">Active Vouchers</h3>
    </div>
    <div class="panel-body hidden-xs hidden-sm">
        <table class="table table-striped" st-table="vouchersData" st-safe-src="vouchersMasterData">
            <thead>
            <tr class="sortable">
                <th st-sort="VoucherNo"><b>VOUCHER NO</b></th>
                <th st-sort="Denomination"><b>DENOMINATION</b></th>
                <th st-sort="IssuedDate"><b>ISSUED DATE</b></th>
                <th st-sort="IssuedOutlet"><b>ISSUED OUTLET</b></th>
                <th st-sort="ExpiryDate"><b>EXPIRY DATE</b></th>
                <th><b>STATUS</b></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in vouchersData">
                <td>{{items.VoucherNo}}</td>
                <td>{{items.Denomination}}</td>
                <td>{{items.IssuedDate | dateFilter}}</td>
                <td>{{items.IssuedOutlet}}</td>
                <td>{{items.ExpiryDate | dateFilter}}</td>
                <td>{{items.StatusLabel}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center hidden-sm hidden-xs">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="panel-body hidden-lg hidden-md">
        <table style="font-size: 11px" class="table" st-table="vouchersData" st-safe-src="vouchersMasterData">
            <thead>
            <tr>
                <th st-sort="VoucherNo" class="table-id"><b>VOUCHER NO</b></th>
                <th st-sort="Denomination"><b>INFORMATION</b></th>
                <th st-sort="ExpiryDate"><b>EXPIRY DATE</b></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in vouchersData">
                <td>{{items.VoucherNo}}</td>
                <td>
                    <div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Denomination : </b></span>
                            <span>{{items.Denomination}}</span>
                        </div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Issued Date : </b></span>
                            <span>{{items.IssuedDate}}</span>
                        </div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Issued Outlet : </b></span>
                            <span>{{items.IssuedOutlet}}</span>
                        </div>
                        <div style="margin: 0px 0px 0px 0px;" >
                            <span><b>Status : </b></span>
                            <span>{{items.StatusLabel}}</span>
                        </div>
                    </div>
                </td>
                <td>{{items.ExpiryDate}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-center hidden-lg hidden-md">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
