<div class="col-md-12">
    <div class="col-md-4">
        <span class="lead pull-right">Search Customer</span>
    </div>
    <div class="col-md-8">
        <div class="form-group ">

            <form name="newMobileNumber.form" class="form-inline"
                  ng-submit="searchCustomer(newMobileNumber.form.$valid)"
                  novalidate>
                <div class="form-group"
                     ng-class="{'has-error': newMobileNumber.mobile.$invalid && (newMobileNumber.mobile.$dirty || newMobileNumber.$submitted)}">
                    <input class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile Number"
                           ng-model="newMobileNumber.info.mobile" required>
                    <span class="help-block error-block basic-block">Required</span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="newMobileNumber.form.$invalid">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    <!-- <span class="glyphicon glyphicon-search"></span>-->
                </button>
            </form>
        </div>
        <!--   <div class="input-group">
               <ui-select theme="bootstrap" required="true" data-live-search="true" title="Select With Search" selectpicker
                          ng-mobile="selected.customer"
                          class=" selectpicker with-search"
                          title="Select Mobile Number"
                          ng-change="checkCustomerData()">
                   <ui-select-match placeholder="Select Mobile Number">
                       <span ng-bind="$select.selected.Name + ' - ' + $select.selected.PhoneNo"></span>
                   </ui-select-match>
                   <ui-select-choices
                           repeat="item in (customersData | filter: $select.search) track by item.PhoneNo">
                       <span ng-bind="item.PhoneNo"></span>
                   </ui-select-choices>
               </ui-select>

               <span class="input-group-btn">
                                       <button class="btn btn-danger " type="button">
                                           <span class=" glyphicon glyphicon-search"></span>
                                       </button>
                </span>
           </div>-->
    </div>
</div>
<div class="row">

</div>
<div class="panel panel-default" ng-show="dataLoading">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Information - <span ng-bind="customerData.PhoneNo"></span></h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 controls">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h3 ng-hide="selected.customer.ID != 2168832 && selected.customer.ID != 2358241 && selected.customer.ID != 2286670 ">
                        <i class="fa fa-info-circle fa-lg " aria-hidden="true"></i>
                        <b class="text-shadow">Today is
                            <span ng-bind="myData.Name"></span>
                            <span ng-if="selected.customer.ID == 2168832  ||  selected.customer.ID == 2358241 ">Marriage Anniversary</span>
                            <span ng-hide="selected.customer.ID == 2168832 || selected.customer.ID == 2358241">Birthday</span>
                        </b></h3>
                    <h3>{{customerData.Name}}&nbsp;&nbsp;&nbsp;
                        <small><img class=" uploaded responsive" ng-if="customerData.AppUser" id="appUser"
                                    height="30px"
                                    ng-src="{{ 'appUser.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="(customerData.MealPreference|uppercase)!='VEG'"
                                 id="meatCust" height="30px"
                                 ng-src="{{ 'meat.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="customerData.AccompaniedKids"
                                 height="30px"
                                 ng-src="{{ 'family.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="!customerData.Alcohol" id="colddrink"
                                 height="30px"
                                 ng-src="{{ 'coldDrink2.png' | appImage }}">


                            <img class=" uploaded responsive" ng-if="customerData.Alcohol" id="alcoholCust"
                                 height="30px"
                                 ng-src="{{ 'alcohol.png' | appImage }}">
                            <img class=" uploaded responsive" ng-if="(customerData.MealPreference|uppercase)=='VEG'" height="30px"
                                 ng-src="{{ 'veg.png' | appImage }}"></small>
                    </h3>

                </div>

                <!-- <button class="btn btn-primary btn-sm  btn-raised">
                     <i class="fa fa-beer" aria-hidden="true"></i>
                 </button>-->

                <div class="col-lg-8 col-md-12 col-sm-12 ">
                    <button class="btn btn-primary btn-sm  btn-raised pull-right"
                            ng-click="editCustomerInfo(studentInfo)">
                        <i class="fa fa-eye"></i> Personal Details
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Total Visits ({{customerData.NoofVisit}}) </h5>
                            <div class="visi t-text"><b>Last Visited : {{LastVisitMonth}} Months ago</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Avg Time Spent / Visit</h5>
                            <div class="dark-blue-text">
                                <h4><i class="fa fa-street-view" aria-hidden="true"></i>
                                    {{customerData.AvgTimeSpendIntMins}} minutes</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Avg Gap b/w Visit</h5>
                            <div class="dark-blue-text">
                                <h4><i class="fa fa-street-view" aria-hidden="true"></i>
                                    {{customerData.AvgDurationDaysBetweenVisit}} days</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="red-panel panel-default text-center">
                        <div class="panel-body">
                            <h5> Urgent Feedback : {{countUrgentFeedBack}}</h5>

                            <div class="col-sm-12 text-center">
                                <div>
                                    <div class="gap ">
                                        <span class="label label-success ">Resolved : {{countResolvedUrgentFeedBack}}</span>
                                    </div>
                                    <span class="label label-danger resolved-panel">Unresolved : {{countUrgentFeedBack-countResolvedUrgentFeedBack}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Last GSI Percentage</h5>
                            <div class="dark-blue-text">
                                <h4>{{customerData.LastGSIPerc}} %</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Avg Amount Spent / Visit</h5>
                            <div class="dark-blue-text">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> {{customerData.AvgBillAmount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Last Visit Details</h5>
                            <div class="visit-text-2">
                                <div><b>Location-{{customerData.LastVisitedOutletName}}</b></div>
                                <div><b>Date-{{customerData.LastVisitedOn|dateFilter}}</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="blue-panel panel-default text-center">
                        <div class="panel-body">
                            <h5>Avg Number of PAX/Visit</h5>
                            <div class="dark-blue-text">
                                <h4>{{customerData.AvgPersonInVisit}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="blue-panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Overall Feedback Ratio</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="feedbackChart" class="chart chart-bar"
                                    chart-data="feedbackCountReportData" chart-colors="colors" chart-labels="ratings">
                            </canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="blue-panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Category-wise Feedback Report</h3></div>
                        <div class="panel-body">
                            <canvas class="chart chart-bar"
                                    chart-data="categoryWiseFeedbackData" chart-colors="colors" chart-labels="category"
                                    chart-options="options">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!--    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Monthly Visiting History</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="line" class="chart chart-line admin-chart" chart-data="visitorData"
                                        chart-labels="months"
                                        chart-options="options">
                                </canvas>
                            </div>
                        </div>
                    </div>-->
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="dataLoading">
    <div class="panel-heading">
        <h3 class="panel-title">Visiting History</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-striped" st-table="visitsData" st-safe-src="visitMasterData">
            <thead>
            <tr class="sortable">
                <th st-sort="City"><b>CITY</b></th>
                <th st-sort="OutletName"><b>OUTLET NAME</b></th>
                <th st-sort="ReservationDate"><b>RESERVATION DATE</b></th>
                <th st-sort="ReservationType"><b>RESERVATION TYPE</b></th>
                <th><b>STATUS</b></th>
                <th><b>FEEDBACK</b></th>
                <th st-sort="Amount"><b>AMOUNT</b>( <i class="fa fa-inr " aria-hidden="true"></i> )</th>
                <th><b>ACTION</b></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><input st-search="ReservationDate" placeholder="Search Date"
                           class="input-sm form-control search-input"
                           type="search"/></th>
                <th><select st-search="ReservationType" st-input-event="change" st-delay="0" ng-mobile="dummy"
                            class="input-sm form-control">
                    <option value="">
                        All
                    </option>
                    <option value="Walk-in">
                        Walk-in
                    </option>
                    <option value="Telephone">
                        Telephone
                    </option>
                    <option value="App">
                        App
                    </option>
                </select>
                </th>
                <th><select st-search="Status" st-input-event="change" st-delay="0" ng-mobile="dummy"
                            class="input-sm form-control">
                    <option value="">
                        All
                    </option>
                    <option value="Dinner">
                        Dinner
                    </option>
                    <option value="Lunch">
                        Lunch
                    </option>
                </select>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in visitsData">
                <td>{{items.City}}</td>
                <td>{{items.OutletName}}</td>
                <td>{{items.ReservationDate | dateFilter}}</td>
                <td>{{items.ReservationType}}</td>
                <td>{{items.Status}}</td>
                <td>
                    <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                            ng-click="openFeedbackWindow(items)" ng-show="items.Feedback"><i
                            class="fa fa-commenting-o fa-lg"></i>
                    </button>
                    <a class="fa fa-exclamation-circle fa-2x" ng-show="items.Feedback.UrgentFeed"
                       ng-click="openFeedStatusForm2()"
                       ng-class="(items.Feedback.UrgentFeedStatus | uppercase) !='CLOSE' ? 'red-icon-text' : 'green-icon-text' "
                       ng-click="openFeedStatusForm()" aria-hidden="true"></a>
                    <a class="fa fa-check-circle fa-2x green-icon-text"
                       ng-show="(items.Feedback.UrgentFeedStatus | uppercase) =='CLOSE'"
                       ng-click="openFeedStatusForm2()" aria-hidden="true"></a></b></span>

                </td>
                <td>{{items.Amount}}</td>
                <td>
                    <!--<button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                            ng-click="openVisitDetailForm1(items)" data-toggle="tooltip"
                            title="View Visiting Details">
                        <i
                                class="fa fa-eye fa-lg"></i>
                    </button>-->
                    <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                            ng-click="openOrderForm1(items)" data-toggle="tooltip" title="View Order Details"><i
                            class="fa fa-cutlery fa-lg"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


