<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close sn-link-close"></em>
        </button>
        <h2 class="modal-title"><span ng-bind="customerData.Name"> </span></h2>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Customer Information</h4>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="active"><b>Customer Name</b></td>
                        <td><b>{{customerData.Name}}</b></td>
                        <td class="active"><b>Customer ID</b></td>
                        <td><b>{{customerData.ID}}</b></td>
                    </tr>
                    <tr>
                        <td class="active"><b>Phone Number</b></td>
                        <td><b>{{customerData.PhoneNo|emptyInputFilter}}</b></td>
                        <td class="active"><b>Email</b></td>
                        <td><b>{{customerData.EmailId | emptyInputFilter}}</b></td>
                    </tr>
                    <tr>
                        <td class="active"><b>Birth Date</b></td>
                        <td><b>{{customerData.DOB|emptyInputFilter}}</b></td>
                        <td class="active"><b>Anniversary Date</b></td>
                        <td><b>{{customerData.DOA|emptyInputFilter}}</b></td>
                    </tr>
                    <tr>
                        <td class="active"><b>Last Visit</b></td>
                        <td><b>{{customerData.LastVisitedOn|dateFilter}}</b></td>
                        <td class="active"><b>Last Visited Location</b></td>
                        <td><b>{{customerData.LastLocation|emptyInputFilter}}</b></td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
                <!-- <form name="editInstitute.form" ng-submit="updateInstitute(editInstitute.form.$valid);" novalidate>
                     <div class="row">
                         <div class="form-group col-sm-6">
                             <label class="control-label">Customer Name</label>
                             <input class="form-control" name="name" placeholder="Enter Name"
                                    ng-model="customerData.Name" required>
                             <span class="help-block error-block basic-block">Required</span>
                         </div>
                         <div class="form-group col-sm-6">

                             <label class="control-label">Customer ID</label>
                             <input class="form-control" name="mobile" placeholder="Enter ID"
                                    ng-model="customerData.ID" required>
                             <span class="help-block error-block basic-block">Required</span>
                         </div>
                     </div>

                     <div class="row">
                         <div class="form-group col-sm-6">

                             <label class="control-label">Phone Number</label>
                             <input class="form-control" name="mobile" placeholder="Enter Number"
                                    ng-model="customerData.PhoneNo" required>
                             <span class="help-block error-block basic-block">Required</span>
                         </div>

                         <div class="form-group col-sm-6">

                             <label class="control-label">Email</label>
                             <input class="form-control" name="name" placeholder="Enter Email"
                                    ng-model="customerData.EmailId" required>
                             <span class="help-block error-block basic-block">Required</span>
                         </div>
                     </div>

                     <div class="row">
                         <div class="form-group col-sm-6">

                             <label class="control-label">Birth Date</label>
                             <input class="form-control" name="mobile" placeholder="Enter Mobile"
                                    ng-model="customerData.DOB" required>
                             <span class="help-block error-block basic-block">Required</span>
                         </div>
                         <div class="form-group col-sm-6">
                             <label class="control-label">Anniversary Date</label>
                             <input class="form-control" name="phone" placeholder="Enter Date"
                                    ng-model="customerData.DOA">
                         </div>
                     </div>
                     <div class="form-group">
                         <button type="submit" class="btn btn-primary" ng-hide="loading">Save</button>
                         <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                     </div>
                 </form>-->
            </div>
        </div>
    </div>
</div>

