<div class="modal-content">
    <div class="modal-header ">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close sn-link-close"></em>
        </button>
        <h4 class="modal-title">VISIT/ORDER DETAILS FOR - <span ng-bind=customerData.Name></span></h4>
    </div>
    <div class="modal-body">
        <div class="panel profile-panel">
            <div class="panel-body hidden-xs hidden-sm">
                <table class="table table-bordered" st-table="orderInfo">
                    <thead>
                    <tr>
                        <th><b>SR.NO</b></th>
                        <th><b>ITEM NAME</b></th>
                        <th><b>CATEGORY</b></th>
                        <th><b>PRODUCT GROUP</b></th>
                        <th><b>DIVISION</b></th>
                        <th><b>QUANTITY</b></th>
                        <th><b>TOTAL AMOUNT</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in orderInfo">
                        <td>{{$index+1}}</td>
                        <td ng-bind="items.ItemName"></td>
                        <td ng-bind="items.Category"></td>
                        <td ng-bind="items.ProductGroup"></td>
                        <td ng-bind="items.Division"></td>
                        <td ng-bind="items.Quantity"></td>
                        <td ng-bind="items.TotalAmount"></td>
                    </tr>
                    <tr>
                        <th class="text-right" colspan="6"><b>TOTAL</b></th>
                        <td colspan="6"><b>{{visitData.Amount}}</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding: 5px;" class="panel-body hidden-lg hidden-md">
                <table style="font-size: 10px" class="table table-bordered" st-table="orderInfo">
                    <thead>
                    <tr>
                        <th><b>SR.NO</b></th>
                        <th><b>ITEM DETAILS</b></th>
                        <th><b>TOTAL AMOUNT</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in orderInfo">
                        <td>{{$index+1}}</td>
                        <td>
                            <div>
                                <div style="margin: 0px 0px -15px 0px;">
                                    <span><b>Item Name : </b></span>
                                    <span>{{items.ItemName}}</span>
                                </div>
                                <div style="margin: 0px 0px -15px 0px;">
                                    <span><b>Category : </b></span>
                                    <span>{{items.Category}}</span>
                                </div>
                                <div style="margin: 0px 0px -15px 0px;">
                                    <span><b>Product Group : </b></span>
                                    <span>{{items.ProductGroup}}</span>
                                </div>
                                <div style="margin: 0px 0px -15px 0px;">
                                    <span><b>Division : </b></span>
                                    <span>{{items.Division}}</span>
                                </div>
                                <div style="margin: 0px 0px 0px 0px;">
                                    <span><b>Quantity : </b></span>
                                    <span>{{items.Quantity}}</span>
                                </div>
                            </div>
                        </td>
                        <td ng-bind="items.TotalAmount"></td>
                    </tr>
                    <tr>
                        <th class="text-right" colspan="2"><b>TOTAL</b></th>
                        <td colspan="2"><b>{{visitData.Amount}}</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>











