<div class="modal-content">
    <div class="modal-header ">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close sn-link-close"></em>
        </button>
        <h4 class="modal-title">REDEEM VOUCHERS</h4>
    </div>
    <div class="modal-body hidden-xs hidden-sm">
        <table  style="font-size: 12px" class="table table-striped" st-table="usedVouchersData" st-safe-src="usedVouchersMasterData">
            <thead>
            <tr class="sortable">
                <th st-sort="VoucherNo"><b>VOUCHER NO</b></th>
                <th st-sort="Denomination"><b>DENOMINATION</b></th>
                <th st-sort="IssuedDate"><b>ISSUED DATE</b></th>
                <th st-sort="IssuedOutlet"><b>ISSUED OUTLET</b></th>
                <th st-sort="ExpiryDate"><b>EXPIRY DATE</b></th>
                <th st-sort="RedeemDate"><b>REDEEM DATE</b></th>
                <th st-sort="RedeemOutlet"><b>REDEEM OUTLET</b></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in usedVouchersData">
                <td>{{items.VoucherNo}}</td>
                <td>{{items.Denomination}}</td>
                <td>{{items.IssuedDate | dateFilter}}</td>
                <td>{{items.IssuedOutlet}}</td>
                <td>{{items.ExpiryDate | dateFilter}}</td>
                <td>{{items.RedeemDate | dateFilter}}</td>
                <td>{{items.RedeemOutlet}}</td>
            </tr>
            <tr>
                <td colspan="7" class=" text-center" ng-if="usedVouchersData.length==0">
                    No Data
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7" class="text-center hidden-sm hidden-xs">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal-body hidden-lg hidden-md">
        <table style="font-size: 10px" class="table" st-table="usedVouchersData" st-safe-src="usedVouchersMasterData">
            <thead>
            <tr>
                <th st-sort="VoucherNo" class="table-id"><b>V NO</b></th>
                <th st-sort="Denomination"><b>INFORMATION</b></th>
                <th st-sort="ExpiryDate"><b>REDEEM DETAILS</b></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="items in usedVouchersData">
                <td>{{items.VoucherNo}}</td>
                <td>
                    <div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Denomination : </b></span>
                            <span>{{items.Denomination}}</span>
                        </div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Issued Date : </b></span>
                            <span>{{items.IssuedDate | dateFilter}}</span>
                        </div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Issued Outlet : </b></span>
                            <span>{{items.IssuedOutlet}}</span>
                        </div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Expiry Date : </b></span>
                            <span>{{items.ExpiryDate| dateFilter}}</span>
                        </div>
                        <div style="margin: 0px 0px 0px 0px;">
                            <span><b>Status : </b></span>
                            <span>{{items.StatusLabel}}</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div style="margin: 0px 0px -15px 0px;">
                            <span><b>Redeem Date : </b></span>
                            <span>{{items.IssuedDate| dateFilter}}</span>
                        </div>
                        <div style="margin: 0px 0px 0px 0px;">
                            <span><b>Redeem Outlet : </b></span>
                            <span>{{items.IssuedOutlet}}</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" class=" text-center" ng-if="usedVouchersData.length==0">
                    No Data
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-center hidden-lg hidden-md">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>
